<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Apprenda Open Source" Description="This ruleset contains the standard rules applied to Apprenda Integrations Open Source Projects" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SX1309S" Action="Warning" />
  </Rules>
</RuleSet>